/* My Fonts */
/* -------------------------------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap'); /* Heading */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Sacramento&display=swap'); /* Form */
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); /* Music Name*/
@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
/* -------------------------------------------------------------------------------------------------------------------- */

body {

    margin: 0;
    background-color:wheat;
    background-image: linear-gradient(to right, wheat 0%, #eeb26e 100%);
}

* {
    box-sizing: border-box;
    transition-property: all;
    transition-duration: .6s;
    transition-timing-function: ease;
}

h2 {
    text-align: center;
    letter-spacing: 0.05em;
}

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 2.5rem;
    color: wheat;
    text-align: center;
    margin: auto;

}

h1 span {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
    font-style: italic;
    display: flex;
    color: #ebbd89;
}

h1 span::before{
    content: '';
    width: 30em;
    height: 0.1em;
    background-image: linear-gradient(to right, wheat 0%, #ebbd89 100%);
    left: 5px;
    top: 10px;
}

h3 {
    font-family: 'New Tegomin', serif;
    text-align: center;
}

h3 span {
    position: relative;
    top: 100px;
    font-size: 7rem;
    font-family: 'Montserrat', san-serif;
}

.panel {
    width: 400px;
    margin: auto;
    background:  #297CA4;
}


.left {
    /* border: 5px solid red; */
    width: 400px;
    height: 120px;
    margin: auto;
    text-align: center;

}
.right{
    /* border: 5px solid green; */
    height: 250px;
    display: flex;
}

.right button {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.form-container{
    position: relative;
    z-index: 1;
    height: 250px;
    background-color: #8abcd3;
    margin: 1em 1em;
    padding: 1em 1em;
    border-radius: .5em;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
}

.form-row-1 {
    display: flex;
}
form {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    height: 180px;
    width: 335px;
}

form input {

    width: 60px;
    margin: 0.3em 0 1em 0;
    border: 1px solid #707070;
    background-color: #8abcd3;
    padding: 0.5em;
    border-radius:0.5em;
    font-size: 1.1rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

select {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

 .val {

    width: 60px;
    margin: 0.3em 0 1em 0;
    background-color: #8abcd3;
    border: 1px solid #707070;
    padding: 0.5em;
    border-radius:0.5em;
    font-size: 1.1rem;
    appearance: none;
    cursor: pointer;
}

.drop {

    width: 100px;
    margin: 0.3em 0 1em 0;
    background-color: #8abcd3;
    border: 1px solid #707070;
    padding: 0.5em;
    border-radius:0.5em;
    font-size: 1.1rem;
    appearance: none;
    cursor: pointer;

}

input[type="number"] {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
  }
  input[type=number]::-webkit-inner-spin-button, 
  input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
  }


.left-form{
    text-align: center;
    width: 150px;
    margin: auto;
}

.right-1-form  {
    text-align: center;
    display: flex;
}

.col-right-1 {
    margin: auto;
}
.right-form{
    text-align: center;
    width: 150px;
    margin: auto;
}

.form-model{
    text-align: center;
}

.model-btn {
    position: relative;
    top: 70px;
    left: -16px;
}

.form-model button{

    width: 90px;
    padding: 1.5em 0 ;

}

.slider {
    width: 150px;
    height: 45px;
  }
  
  .slider .show-value {
    position: relative;
    width: 100%;
    
  }
  
  .slider .show-value span {
    position: absolute;
    width:45px;
    height: 45px;
    background: #f5f5f5;
    text-align: center;
    line-height: 45px;
    border-radius: 50%;
    bottom: -10px;
    left: 44%;
    transform: scale(0);
    transform-origin: botttom;
    transition: transform 300ms ease-in-out;
  }
  
  .slider .show-value span.active {
    transform: scale(1);
  }
  .slider input[type="range"]{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    margin-top: 1em;
    width:90%;
    height: 20px;
    background: #f5f5f5;
    outline: none;
    border: none;
    background: transparent;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width:10px;
    height: 20px;
    background: #f5f5f5;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    width:10px;
    height: 20px;
    background: #96c5db;
    border: 0;
    /* border: 1px solid #628a9c ; */
    box-shadow: 2px 4px 6px #719aad;

    border-radius: 0.5em;
    cursor: pointer;
  }
  
  input[type=range]::-ms-thumb {
    -ms-appearance: none;
    width:10px;
    height: 20px;
    background: #f5f5f5;
    outline: none;
    border-radius: 0.5em;
    cursor: pointer;
  }
  
  .slider .range {
    margin-top: 10px;
    position: relative;
  }
  
  .slider .range div{
    position:absolute;
  }
  
  .slider .range div:nth-child(2){
    right:0px;
  }

  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 1px;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px #719aad; */
    background: #707070;
    /* border-radius: 1.3px; */
    border: 0;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #367ebd;
  }
  
  input[type=range]::-moz-range-track {
    -moz-appearance: none;
    width: 100%;
    height: 1px;
    cursor: pointer;
    /* box-shadow: 2px 2px 5px #719aad; */
    background: #707070;
    /* border-radius: 1.3px; */
    border: 0;
  }
  

.model-select{
    position: relative;
    background:  #8abcd3 ;
    border:0px;
    border-radius: 0 1em 1em 0;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    z-index: 1;
}

.model-select:hover{

    position: relative;
    background-image: linear-gradient(to right, #8abcd3 0%, #7facbe 100%);
    border:0px;
    border-radius: 0 1em 1em 0;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .3);
    z-index: 1;

}

.clicked {

    background:  black;
}
.model-unselect{

    left: 10px;
    z-index: -1;
    border-radius: 0 1em 1em 0;
    
    background-color: #78a2b6;
    
    box-shadow: 2px 2px 3px rgba(0, 0, 0, .4);
    border:0px;
}


.generate-btn{
    margin: auto;
    text-align: center;
    position: relative;
    top: -10px;

}

.gen-btn {
    background: #96c5db;
    border: 1px solid #628a9c ;
    box-shadow: 2px 4px 6px #719aad;

    width: 90px;
    padding: 1em 0 ;
    border-radius: 1em;
    border: 0px;
    font-size: 1rem;
    transition: all 150ms linear;


}

.gen-btn:hover {
    background: #82b0c2;
    border: 1px solid rgba(#000, .05);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
    text-decoration: none;
    transition: all 200ms linear;
  }

.gen-btn-press {
    background: #8abcd3;
    border: 1px solid #707070;
    
    width: 90px;
    height: 41.6px;
    border-radius: 1em;
    font-size: 1rem;
    transition: all 150ms linear;
}

@keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: .25;
      transform: scale(.75);
    }
  }

.pulse-bubble {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #707070 ;
    margin: 0em 0.3em;
    display: inline-block;
    
  }
  
.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

.media-control {
    margin: auto;
    margin-top: 40px;
    height: 100px;
    width: 230px;
    text-align: center;
    padding: 1.5em 0;
    display: flex;

}

.play-btn{
    margin: auto;
	width: 50px;
	height: 50px;
	background-image: linear-gradient(-20deg, #ddd6f3 0%, wheat 100%, #eeb26e 100%);
	border-radius: 50%;
    border: 0px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.15), 2px 2px 10px rgba(0,0,0,0.1);
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.3); */
	display: flex;
	justify-content: center;
	align-items: center;
}

.stop-btn, .down-btn{
    margin: auto;
	width: 40px;
	height: 40px;
	background-image: linear-gradient(-20deg, #ddd6f3 0%, wheat 100%, #eeb26e 100%);
	border-radius: 50%;
    border: 0px;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.15), 2px 2px 10px rgba(0,0,0,0.1);
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.3); */
	display: flex;
	justify-content: center;
	align-items: center;
    font-size: 1.4rem;
    color: #927b62;
    font-style: bold;
}


.stop-btn::after{
    content: '';
    background: #927b62;
    width: 0.7em;
    height: 0.7em;
}

.play-btn::after{
    content: '';
    position: relative;
    left: 2px;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-left: 17px solid #927b62;
    clear: both;
}

.play-btn:hover, .stop-btn:hover, .down-btn:hover  {
    background: #eebe86;
    border: 1px solid rgba(#000, .05);
    box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
    text-decoration: none;
    transition: all 200ms linear;
  }

.play-btn-press {
    margin: auto;
	width: 50px;
	height: 50px;
	background-image: linear-gradient(-20deg, #ddd6f3 0%, wheat 100%, #eeb26e 100%);
	border-radius: 50%;
    border: 0px;
    border: 0.5px solid #707070;
    /* box-shadow: 5px 5px 5px rgba(0,0,0,0.3); */
	display: flex;
	justify-content: center;
	align-items: center;

}

.rect {
    height: 1.2em;
    width: 0.4em;
    display: none;
    margin: 0em 0.2em;
    background-color: #927b62;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 0.5em;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

@media (min-width: 786px){


    /* .panel{
        display: flex;
        width: 700px;
    }

    .right{

        position: relative;
        right: -4em;
    }

    .left {
        position: relative;
        right: -2em;
        width: 300px;

    } */

    .cont {
      display:flex; 
    }
    

    .sheet-music{
        width: 700px;
        height: 700px;
        margin: auto;
        margin-top: 2em;
    }

    .hero-bg{ 
        
        margin-top: 0px;
        margin-bottom: 0px;
        padding-bottom: 2em;
        height: 2000px;
        margin-left: 1.5em;
        background:  #297CA4;
    }

    .panel {
        margin-top: 0em;
        padding-top: 5em;
    }

    .play-btn, .stop-btn, .down-btn, .play-btn-press {

        background-image: linear-gradient(-20deg, #95a3b1 0%, #8abcd3 100%, #181e20 100%);
        color: #616060;
    
    }

    .play-btn::after {
        border-left: 17px solid #616060;
    }

    .stop-btn::after, .rect {

        background: #616060;

    }

    .play-btn:hover, .stop-btn:hover, .down-btn:hover  {
        background: #2076a1;
        border: 1px solid rgba(#000, .05);
        box-shadow: 5px 5px 5px rgba(0,0,0,0.2) inset;
        text-decoration: none;
        transition: all 200ms linear;
    }


    .sheet-music h2 {
        font-family: 'Orbitron', sans-serif;
        background: -webkit-linear-gradient(#333, #886540);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

}